# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Local package store (pnpm)
.pnpm-store
.pnpm-cache

# WorkBuddy agent workspace
.workbuddy

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
Thumbs.db
Desktop.ini

# Local env files
.env
.env.*
!.env.example
